
html{
   background-size: cover;
   background-attachment: fixed;
   background-color: #6e7e30
}

.Navbar{
  display: flex;
  justify-content: space-between;

  background-color: black;
  font-size: 20px;
  color: white;
  padding-left: 0px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */

}
.Navlinks{
  list-style: none;
}

.Main{
  margin-top: 75px;
  margin-left: 50px;
}

li{
  display: inline-flex;
  list-style: none
}


a{
  font-family: Helvetica;
  color: white;
  text-decoration: none;
  padding-right: 75px;
}


