
html{
   background-size: cover;
   background-attachment: fixed;
 }

/*Landing Page*/

.link:hover{
  color: white;
}

.link{
  text-decoration: none;
  background-color: none;
  color: black;
  position: absolute;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  font-size: 70px;
}
.Navbar{
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  background-color: black;
  font-size: 18px;
  color: white;
  padding-left: 0px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}


.Navlinks{
  list-style: none;
  margin-right: 40px
}

.Main{
  margin-top: 75px;
  border-width: 10px;
  font-size: 18px
}
.brand{
  margin-left: 35px;
}

.nav-item{
  display: inline-flex;
  list-style: none;
}
.Name{
  list-style: none;
}

a{
  font-family: Helvetica;
  color: white;
  text-decoration: none;
  padding-right: 75px;
}
  

/*Projects CSS*/
.projects{
  margin-bottom: 10px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.projectHeader{
  text-align: center;
  border-bottom: solid black 2px;
  margin-right: 10%;
  margin-left: 10%;
}
.description{
  vertical-align: top;
  max-width: 550px;
  margin: 0 auto;
  padding-bottom: 35px;
  padding: 15px;
}

.Navbar ul{
  text-align: center;
  list-style: none
}

/*media query mobile*/
.guessingGame img{
  max-width: auto
}
.liveWell img{
  max-width: auto
}

.repositories li{
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 5px;

}
/*----------------------------------------*/

.Image{
  display: inline-block;
  border-radius: 50%;
  width: 250px;
  height: auto;
}
.Parent{
  text-align: center;
  margin-top: 75px;
  border-width: 10px;
  border-bottom: 2px solid black;
  margin-right: 10%;
  margin-left: 10%;
  padding: 15px
}
.About{
  margin: 0 auto;
  width: auto;
  margin-top: 30px;
  max-width: 800px;
  padding: 30px;
  background-color: white;
  text-align: center;
  list-style-position: inside;
}

/*Responsive Nav and Page*/

/*contact form*/
* {
    box-sizing: border-box;
}
 .App {
     max-width: 420px;
     margin: 0 auto;
      margin-top: 75px;
     
      border-width: 10px
}
 p {
     text-align: center;
     font-weight: 500;
}
 input[type=text],input[type=email], select, textarea {
     width: 100%;
     padding: 12px;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
     margin-top: 6px;
     margin-bottom: 16px;
     resize: vertical;
}
 input[type=submit] {
     background-color: #4CAF50;
     color: white;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
}
 input[type=submit]:hover {
     background-color: #45a049;
}
 .container {
     border-radius: 5px;
     background-color: #f2f2f2;
     padding: 20px;
}

.success  {
  margin: 20px 0;
  border: 1px solid green;
  padding: 7px;
  font-weight: bold;
}

.error {
  margin: 20px 0;
  border: 1px solid black;
  padding: 7px;
  font-weight: bold;
}

@media (max-width: 470px) {
  /* Probably some parent element that limits the img width */
  img {
    width: 80%;
  }
  .Navlinks{
    display: none;
  }
  .Navbar{
    font-size: 14px
  }
  .link{

  }
}





